

@model HandshakeGame.Models.User
@{
    ViewBag.Title = "Admin";

}

<h2>Delete User</h2>


<div>
    @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
    {

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Username, new { @class = "form-control" })</div>
        </div>
        <input type="submit" value="Delete" class="btn btn-primary" />
    }

</div>

<style>

div {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 20px;
}


</style>
